body{
    background-image: linear-gradient(to right, #000000,#2d2d2d);
    color: white;
    font-family: 'Poppins', sans-serif;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.titulo{
    flex-direction: column;
    line-height: 10px;
}
li{
    display: inline-block;
    margin: 20px;
}
h1{
    font-weight: 300;
}
main{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}
h2{
    font-size: 56px;
    line-height: 10px;
    font-family:'Poppins', sans-serif;
}

span{
    color: rgb(132,14,201);
}
p{
    line-height: 20px;
    max-width: 500px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
a{
    color: white;
}
a:hover{
    color:rgb(132,14,201);
    transition: 0.3s all;
}
#inscbutton{
    border: 2px solid rgb(132,14,201);
    padding: 10px;
    border-radius: 15px;
}
#inscbutton:hover{
    background-color: rgb(132,14,201);
    color: white;
    transition: 0.3s all;
}
form{
    display: flex;
    flex-direction: column;
    width: 70%;
}
input{
    margin-top: 20px;
    height: 20px;
    padding:15px;
    border-radius: 20px;
    border:none;
    font-size: 15px;
}
form [type="submit"]{
    height: 50px;
    width: 50%;
    background-color: rgb(132,14,201);
    color: white;
    font-weight: bold;
}
form [type="submit"]:hover{
    cursor:pointer;
    background-color: whitesmoke;
    color: rgb(132,14,201);
}
.rodape-prin
{
    flex-direction: row;
    display: inline;
    justify-content: space-between;
    align-items: left;
    padding: 4px;         
    color: rgb(250,255,250);
    font-size: 15px;
    font-family: "arial", sans-serif;
    margin-left: 0px;
}

.icones-sociais li
{
    flex-direction: row;
    display: inline;
    margin-left: 0px;
    justify-content: space-between;
    align-items: left;

}
#principalimage{
    height: 500px;
    margin-left: 10%;
}